.cp-nosotros {
    .cp-container {
        padding: 30px 25px;

        @keyframes animate-image {
            from {  opacity: 0; }
            to { opacity: 1; }
        }

        img {
            animation: animate-image 1s;
            width: 33.33%;
            padding: 10px;
        }
    }

    
}